Temp filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
holobot_BackUpThisFolder_ButDontShipItWithYourGame filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
holo_BackUpThisFolder_ButDontShipItWithYourGame filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so filter=lfs diff=lfs merge=lfs -text
holo-bot.app/Contents/Frameworks/UnityPlayer.dylib filter=lfs diff=lfs merge=lfs -text
